.green {
  background: $green;
}

.red {
  background: $red;
}

.blue {
  background: $blue;
}

.orange {
  background: $orange;
}

.grey {
  background: $grey;
  color: $fontColor !important;
}

.white {
  background: #FFF;
  color: $fontColor !important;
}
