.green {
  background: $green;
  &__text {
    color: $green;
  }
}

.red {
  background: $red;
  &__text {
    color: $red;
  }
}

.blue {
  background: $blue;
  &__text {
    color: $blue;
  }
}

.orange {
  background: $orange;
  &__text {
    color: $orange;
  }
}

.grey {
  background: $grey;
  &__text {
    color: $grey;
  }
}

.white {
  background: #FFF;
  color: $fontColor !important;
}
